html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
}

@media only screen and (max-width: 940px) {

	input,
	textarea,
	select {
		font-size: 16px !important;
	}
}

a {
	text-decoration: none;
	font-family: $mainFont;

}

li {
	list-style-type: none;
}

button {
	cursor: pointer;
	outline: 0 none !important;
	font-family: $mainFont;

}

body::-webkit-scrollbar {
	width: 5px;
}


body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	border-radius: 100px;

}

input {
	outline: 0 none !important;
	font-family: $mainFont;

}

input[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=tel] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=email] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: $mainFont;
}

select {
	cursor: pointer;
	outline: 0 none !important;
	font-family: $mainFont;
}

textarea {
	outline: 0 none !important;

}

svg {
	shape-rendering: geometricPrecision;
}

body {
	font-family: $mainFont;
	background: $white;
	color: $gray;
}

ul {
	margin-bottom: 0;
}
.app{
	position: relative;
}

.container {
    width: 1130px;
	margin: 0 auto;
}




@media only screen and (max-width: 1150px) {
	.container {
		width: 850px;
	}
	main{
		padding-top: 78px;
	}
}

@media only screen and (max-width: 880px) {
	.container {
		width: 740px;
	}
}

@media only screen and (max-width: 760px) {

	.container {
		width: 355px;
	}
}

@media only screen and (max-width: 365px) {

	.container {
		width: 325px;
	}
}



