$mainFont: "TT Commons", sans-serif;

$darkBlue: #145771;
$darkBlueSoft: #306A81;
$white: #FFFFFF;
$gray1: #99AAC9;
$gray2: #C1D0D6;
$pageBg: #F2F2F2;
$mint: #F3F9F6;
$cyan: #00D5E2;
$red: #D82136;


// Palette
$yellow: #FFDD2D;
$gray: #313132;
$black: #28282A;

$gainsboro: #DCDCDC;
$light-gray: #DEE1E3;
$bg-section: #EDEFF0;
$bg-platform: #F6F7F8;

$gray-92: rgba(49, 49, 50, 0.92);
$gray-83: rgba(49, 49, 50, 0.83);

// Button states
$yellow-hover: #FFE870;
$yellow-active: #F7CF00;
$yellow-disabled: #FFF1A8;
$gray-disabled: #9A9A9A;

// Legacy (spa)
$green1: #317844;
