.about {
	padding: 0 0 130px;
}

.about__stats {
	display: grid;
	grid-template-columns: repeat(4, 360px);
}

.about-stat {
	position: relative;
	height: 133px;
	padding: 0 30px;

	&:not(:last-child)::after {
		content: '';
		position: absolute;
		top: 9px;
		right: 0;
		width: 2px;
		height: 120px;
		background: rgba(20, 87, 113, 0.22);
		border-radius: 3px;
	}
}

.about-stat__value {
	position: relative;
	width: 300px;
	height: 76px;
	font-size: 76px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.03em;
	color: $darkBlue;
}

.about-stat__arrow {
	position: absolute;
	top: 13px;
	right: 0;
	color: $darkBlue;
}

.about-stat__text {
	width: 270px;
	margin: 9px 0 0;
	font-size: 20px;
	line-height: 1.2;
	color: $gray1;
}

.about__content {
	width: 718px;
	margin: 130px 0 0 auto;
}

.about__label {
	margin: 0 0 25px;
	font-size: 20px;
	line-height: 1.2;
	color: $gray1;
}

.about__lead {
	margin: 0 0 40px;
	font-size: 32px;
	font-weight: 500;
	line-height: 1.2;
	color: $darkBlue;
}

.about__content .btn-pill {
	width: 270px;
}


@media only screen and (max-width: 1460px) {
	.about-stat{
		width: calc(25%);
	}
	.about__stats{
		display: flex;
		flex-wrap: wrap;
	}
	.about-stat__value{
		font-size: 60px;
		line-height: 1;
		height: 60px;
		width: 100%;
	}
	.about-stat__text{
		width: 100%;
		font-size: 18px;
	}
	.about__content{
		margin-top: 100px;
		width: calc(50% );
		margin-left: 50%;
	}
	.about__label{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.about__lead{
		font-size: 28px;
		margin-bottom: 40px;
	}
	.about{
		padding-bottom: 100px;
	}

}

@media only screen and (max-width: 1240px) {
	.about-stat__value{
		font-size: 50px;
		height: 50px;
	}
	.about-stat__text{
		font-size: 16px;
	}
	.about__content{
		margin-top: 60px;
	}
	.about__lead{
		font-size: 25px;
	}
}

@media only screen and (max-width: 940px) {
	.about-stat{
		width: 50%;
		&:nth-child(2){
			&::after{
				opacity: 0;
			}
		}
	}
	.about__stats{
		flex-wrap: wrap;
	}
	.about__content{
		width: 100%;
		margin-top: 50px;
		margin-left: 0;
	}
}

@media only screen and (max-width: 760px) {

	.about-stat{
		padding: 0;

		&:nth-child(even){
			padding-left: 20px;
		}
		&:nth-child(odd){
			padding-right: 20px;
		}
	}
	.about-stat__value{
		font-size: 40px;
		height: 40px;
	}
	.about-stat__text{
		font-size: 14px;
		margin-top: 10px;
	}
	.about-stat{
		height: auto;
	}
	.about-stat:not(:last-child)::after{
		height: 100%;
	}
	.about__stats{
		row-gap: 25px;
	}
	.about__label{
		font-size: 16px;
		margin-bottom: 15px;
	}
	.about__lead{
		font-size: 22px;
		margin-bottom: 30px;
	}
	.about{
		padding-bottom: 80px;
	}
}